@{
    ViewData["Title"] = "Home Page";
}

<!-- This are REQUIRED for datatables !!! -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="text-center mb-5">
    <h1 class="display-4">Welcome

    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- table here -->
<div id="table-container"></div>

<script>
    $(document).ready(function () {
        loadGrid('table-container'
            , '/Home/GetData'
            , '/Home/ReadData'
            , '/Home/DeleteData'
            , '/Home/UpdateData'
            , 5,
            {
                TableId: 'tbl_gcash',
                Columns: [
                    { FieldName: 'Id', DataType: 'int', IsKey: true, HideFromTable: true, HideFromPopup: true },
                    { FieldName: 'ReferenceNumber', DataType: 'string', CustomColumnName: 'Reference No.', HasOption: true },
                    { FieldName: 'Amount', DataType: 'int', CustomColumnName: 'Amount (₱)' },
                    { FieldName: 'StatusText', DataType: 'string', CustomColumnName: 'Status', HideFromPopup: true },
                    { FieldName: 'CreatedDateText', DataType: 'string', CustomColumnName: 'Cash-in Date', HideFromPopup: true },
                    { FieldName: 'CreatedDate', DataType: 'datetime', CustomColumnName: 'Created Date', HideFromTable: true }
                ]
            });
    });
</script>